html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

:root {
  --text-color: #313131;
  --black-color: #1f1f1f;
  --white-color: #fff;
  --coral-color: #f54932;
  --font-family: "Golos Text";
  --second-family: "Merriweather";
  --third-family: "Montserrat";
}

/* fonts */
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-DemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Bold.woff") format("woff");
  font-weight: 700;
}
/* мои надстройки */

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: "Golos Text", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.picture-reset {
  font-size: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 72px;
}

.reset {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

/* hero */

.hero {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: url(../img/1.hero/11.png) no-repeat;
  background-position: center;
}

.hero__content {
  padding-bottom: 130px;
  padding-top: 26px;
  max-width: 542px;
  width: 100%;
}

.hero__logo-picture {
  display: block;
  margin-bottom: 62px;
}

.hero__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  color: var(--text-color);
  text-transform: uppercase;
}

.hero__span-city-text {
  display: block;
  text-align: center;
}

.hero__span-globus-text {
  display: block;
  text-align: end;
  margin-bottom: 26px;
}

.hero__descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 43px;
}

.hero__btn {
  border: 2px solid var(--black-color);
  border-radius: 66px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  max-width: 263px;
  width: 100%;
  padding: 0;
  padding: 14px 46px 17px 46px;
  cursor: pointer;
  transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;
  text-align: center;
}

.hero__btn-black {
  background-color: var(--black-color);
  color: var(--white-color);
  margin-right: 16px;
}

.hero__btn-black:hover {
  background-color: #fbce51;
  color: var(--text-color);
  border-color: #fbce51;
}

.hero__btn-transparent:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  border-color: var(--black-color);
}

/* running-text*/

.running-top-line {
  background-color: var(--coral-color);
  padding: 18px 0;
}

.running-top-list {
  list-style-type: none;
  animation: runtext 15s linear infinite;
}

@keyframes runtext {
  0% {
    transform: translateX(2335px);
  }
  100% {
    transform: translateX(-2335px);
  }
}

.running-top-item {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 24.2px;
  text-transform: uppercase;
  white-space: nowrap;
  flex-grow: 1;
  color: var(--white-color);
  align-items: center;
}

.running-top-item:not(:last-child) {
  margin-right: 6px;
}

/* tournaments */

.tournaments {
  margin-bottom: 100px;
}

.tournaments__top-block {
  padding-top: 80px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}

.tournaments__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 135%;
  text-transform: uppercase;
  color: var(--text-color);
  max-width: 764px;
  width: 100%;
}

.tournaments__bottom-title {
  margin-bottom: 60px;
}

.tournaments-red-span {
  font-weight: 700;
  color: var(--coral-color);
}

.tournaments__img-blck {
  position: relative;
  top: -28px;
  left: -28px;
  max-width: 529px;
  width: 100%;
  margin-right: -12px;
}

.tournaments__img-blck::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/2.tour/4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 98%;
  mix-blend-mode: color-burn;
}

.tournaments__info {
  margin-bottom: 48px;
}

.tournaments__list-title {
  width: 100%;
}

.tournaments__item-left-span {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--text-color);
  opacity: 0.7;
  max-width: 306px;
  width: 100%;
}

.tournaments__item-right-span {
  display: block;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-color);
  width: 100%;
}

.tournaments__item:not(:last-child) {
  border-bottom: 2px solid #d0d0d0;
}

.tournaments__item-right-span {
  border-left: 2px solid #d0d0d0;
}

.tournaments__item-left-span {
  padding: 15px 15px 15px 0px;
}

.tournaments__item-right-span {
  padding: 15px 15px 15px 15px;
}

.tournaments__item:first-child .tournaments__item-left-span,
.tournaments__item:first-child .tournaments__item-right-span {
  padding-top: 0;
}

.tournaments__item:last-child .tournaments__item-left-span,
.tournaments__item:last-child .tournaments__item-right-span {
  padding-bottom: 0;
}

.tournaments__item-right-span s {
  text-decoration-color: var(--coral-color);
  margin-right: 8px;
}

.tournaments__item-red-line {
  text-decoration: line-through var(--coral-color) 2px;
  margin-right: 10px;
}

.tournaments__span-information {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #3057a2;
}

/* step */

.step {
  padding-top: 56px;
}

.step__title {
  display: inline-block;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 54px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--text-color);
  max-width: 806px;
  margin-bottom: 54px;
}

.step__title a {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #3057a2;
  max-width: 340px;
  padding-left: 19px;
  text-transform: none;
}

.step__container {
  position: relative;
}

.step__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.step__item {
  position: relative;
  list-style-type: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
  background-color: #e9ded4;
  line-height: 120%;
  padding: 20px 20px 20px 20px;
}

.step__arrow {
  display: none;
}

.text-3 {
  max-width: 300px;
  width: 100%;
}

.step__item .text-7 {
  max-width: 410px;
  width: 100%;
}

.step__item p {
  font-weight: 500;
  width: 100%;
  max-width: calc(100% - 50px);
}

.step__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(../img/3.step/image\ 23.png);
  mix-blend-mode: color-burn;
}

.step__span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: var(--white-color);
  border-radius: 50%;
  margin-right: 17px;
  padding: 9px 13px 11px 11px;
}

.step__item:nth-child(3) {
  grid-column: 3;
  grid-row: 1/3;
}

.step__item:nth-child(7) {
  grid-column: 2/4;
}

.step__img {
  position: absolute;
  right: 9px;
  bottom: -2px;
}

/* athlets */

.athletes__container {
  max-width: 1293px;
  margin: 0 auto;
  padding: 0 30px;
}

.athletes {
  padding-top: 201px;
  padding-bottom: 140px;
}

.athletes__title-wrapper {
  margin-bottom: 59px;
  justify-content: space-between;
}

.athletes__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 54px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--text-color);
  padding-left: 5px;
}

.athletes__item {
  list-style-type: none;
  min-width: calc(100% / 3);
  text-align: center;
  cursor: pointer;
}

.athletes__title-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 5px;
}

.athletes__span-rank {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-color);
  opacity: 0.7;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.athletes__btn {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #3057a2;
  background-color: transparent;
  border: 1px solid #3057a2;
  border-radius: 62px;
  padding: 7px 12px 7px 11px;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.athletes__btn:hover {
  background-color: #3057a2;
  color: var(--white-color);
}

.athletes__img {
  margin-bottom: 26px;
}

.athletes__slider {
  align-items: center;
  padding-right: 6px;
}

.athletes__slider-prew,
.athletes__slider-next {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.athletes__slider-prew svg circle,
.athletes__slider-next svg circle {
  transition: fill 0.3s linear;
}

.athletes__slider-prew:hover svg circle,
.athletes__slider-next:hover svg circle {
  fill: #fbce51;
}

.athletes__slider-number-block {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--text-color);
  margin-right: 8px;
}

.athletes__slider-prew {
  margin-right: 13px;
}

.athletes__slider-prew .disabled {
  opacity: 0.3;
}

.footer {
  background-color: #e9ded4;
}

.footer__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--text-color);
  padding: 41px 0;
  opacity: 0.6;
}

.slider {
  max-width: 1212px;
  width: 100%;
  overflow: hidden;
}

.slider-line {
  transform: translateX(404px);
  display: flex;
  justify-content: space-between;
  transition: all 1s;
}

.slider-item {
  max-width: 394px;
  width: 100%;
}

.tournaments__adaptive {
  display: none;
}

@media (max-width: 1270px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }

  .hero {
    background: url(../img/1.hero/media/Group8.png) -403px 383px no-repeat;
    background-color: #e9ded4;
  }

  .hero__logo-picture {
    max-width: 213px;
    margin-bottom: 41px;
  }

  .hero__span-globus-text {
    margin-bottom: 23px;
  }

  .hero__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
    text-transform: uppercase;
  }

  .hero__content {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 293px;
  }

  .hero__btn-block {
    flex-direction: column;
  }

  .hero__descr {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: left;
    margin-bottom: 30px;
  }

  .hero__btn-black {
    margin: 0;
    margin-bottom: 10px;
  }

  .hero__btn-transparent {
    background-color: var(--white-color);
    border-color: var(--white-color);
  }

  .hero__btn {
    max-width: 100%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    padding: 12px 0px 12px 0;
  }

  .running-top-item {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
  }
  .running-top-line {
    padding: 11px 0 9px 0;
  }

  .tournaments__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 135%;
    margin-bottom: 22px;
  }

  .tournaments__top-block {
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: 27px;
  }

  .delete {
    display: none;
  }

  .tournaments__bottom-block {
    flex-direction: column;
  }

  .tournaments__img-blck {
    margin-right: 0;
    top: 37px;
    left: 7px;
    margin-bottom: 98px;
  }

  .tournaments__adaptive {
    display: inline;
    margin: 0;
  }

  .tournaments__item {
    display: block;
  }

  .tournaments__item-right-span {
    border: none;
    display: block;
    padding: 0;
    padding-bottom: 31px;
  }

  .tournaments__item-left-span {
    padding: 0;
    display: inline-block;
    padding-bottom: 12px;
  }

  .tournaments__item:not(:first-child) .tournaments__item-left-span {
    padding-top: 16px;
  }

  .tournaments__item-right-span {
    padding-bottom: 15px;
  }

  .tournaments__bottom-title {
    margin-bottom: 45px;
  }

  .tournaments__item-left-span-adaptive,
  .tournaments__item-right-span-adaptive {
    display: inline;
    padding: 0;
  }

  .tournaments__item-adaptive {
    padding: 16px 0 14px 0;
  }
  .tournaments__item:last-child .tournaments__item-left-span {
    padding-bottom: 12px;
  }

  .tournaments__info {
    margin-bottom: 41px;
  }

  .tournaments__span-information {
    font-size: 18px;
  }

  .step__title {
    font-size: 36px;
    line-height: 110%;
    margin-bottom: 148px;
  }

  .step {
    padding-top: 21px;
  }

  .step__title a {
    display: block;
    padding: 0;
    padding-top: 13px;
    font-size: 18px;
    line-height: 120%;
  }

  .step__list {
    display: flex;
    flex-flow: column wrap;
    row-gap: 0;
    height: 300px;
    transition: transform 0.8s;
  }

  .step__item {
    max-height: 300px;
    height: 100%;
    padding: 64px 20px 0 20px;
  }

  .step__item:nth-child(1),
  .step__item:nth-child(2),
  .step__item:nth-child(4),
  .step__item:nth-child(5) {
    max-height: 150px;
    height: 100%;
  }

  .step__item:nth-child(2),
  .step__item:nth-child(5) {
    padding-top: 29px;
  }

  .step__item:nth-child(1),
  .step__item:nth-child(4) {
    padding: 64px 20px 0 20px;
  }

  .step__item p {
    font-size: 18px;
    line-height: 120%;
  }

  .step__img {
    max-width: 352px;
    height: 197px;
    position: absolute;
    right: 10px;
    top: 191px;
    bottom: 0;
    transform: rotate(-3.5deg);
  }

  .step__slider {
    max-width: 335px;
  }

  .step__arrow {
    display: flex;
    padding-top: 27px;
    align-items: center;
    justify-content: center;
  }

  .step__arrow-points {
    padding: 0 16px;
  }

  .step__arrow-btn {
    display: block;
    height: 10px;
    width: 10px;
    background-color: var(--text-color);
    border: none;
    border-radius: 50%;
    opacity: 0.3;
    transition: opacity 0.2s linear;
  }

  .step__arrow-btn.active {
    opacity: 1;
  }

  .step__arrow-btn:not(:last-child) {
    margin-right: 6px;
  }

  .step__arrow-prew,
  .step__arrow-next {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .athletes {
    padding-top: 118px;
    padding-bottom: 178px;
  }

  .athletes__container {
    padding: 0 15px;
  }

  .athletes__title {
    font-size: 36px;
    line-height: 110%;
  }

  .athletes__container {
    position: relative;
  }

  .athletes__slider {
    position: absolute;
    bottom: -80px;
    transform: translateX(95px);
  }

  .slider {
    max-width: 325px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .slider-item {
    max-width: 325px;
    width: 100%;
  }

  .athletes__img {
    max-width: 244px;
    width: 100%;
  }

  .slider-line {
    transform: translateX(10px);
  }

  .athletes__title-wrapper {
    margin-bottom: 40px;
  }
}
